In [1]:
import yfinance as yf
import pandas as pd

In [2]:
tesla_data = yf.download('TSLA')

# Reset index
tesla_data.reset_index(inplace=True)

/tmp/ipykernel_28502/3428341873.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  tesla_data = yf.download('TSLA')
[*********************100%***********************]  1 of 1 completed

In [3]:
print(tesla_data.head())

Price        Date       Close        High         Low        Open     Volume
Ticker                   TSLA        TSLA        TSLA        TSLA       TSLA
0      2025-09-02  329.359985  333.329987  325.600006  328.230011   58392000
1      2025-09-03  334.089996  343.329987  328.510010  335.200012   88733300
2      2025-09-04  338.529999  338.890015  331.480011  336.149994   60711000
3      2025-09-05  350.839996  355.869995  344.679993  348.000000  108989800
4      2025-09-08  346.399994  358.440002  344.839996  354.640015   75208300

#### Question # 2

In [24]:
import requests
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text

In [25]:
soup = BeautifulSoup(html_data, "html.parser")

In [26]:
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for table in soup.find_all("table"):
    if "Tesla Quarterly Revenue" in str(table):
        rows = table.find("tbody").find_all("tr")
        for row in rows:
            cols = row.find_all("td")
            if len(cols) == 2:
                date = cols[0].text.strip()
                revenue = cols[1].text.strip()
                tesla_revenue = pd.concat(
                    [tesla_revenue, pd.DataFrame({"Date": [date], "Revenue": [revenue]})],
                    ignore_index=True
                )

In [28]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipykernel_28502/349343550.py:1: SyntaxWarning: invalid escape sequence '\$'
  tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

In [29]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [30]:
tesla_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

#### Question # 3

In [16]:
gmestop=yf.Ticker("GME")

In [17]:
gme_data=gmestop.history(period="max")

In [ ]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [19]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data = requests.get(url).text

In [20]:
beautiful_soup=BeautifulSoup(html_data,"html.parser")

In [ ]:
tables=beautiful_soup.find_all("table")
for index,table in enumerate(tables):
    if(str(table)=="GameStop Quarterly Revenue"):
        table_index=index

gme_revenue=pd.DataFrame(columns=["Date","Revenue"])

for row in tables[table_index].tbody.find_all("tr"):
    col=row.find_all("td")
    if(col!=[]):
        date=col[0].text
        revenue=col[1].text.replace("$","").replace(",","")
        gme_revenue=gme_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
gme_revenue.head()

In [22]:
gme_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

#### Question 5

In [ ]:
make_graph(tesla_data, tesla_revenue, "Tesla")

#### Question 6

In [ ]:
make_graph(gme_data, gme_revenue, 'GameStop')